@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height:100vh;
    font-family: Roboto, sans-serif;
    margin:0;
    padding:0;
}

a {
    text-decoration:none;
}

ul {
    display:flex;
    align-items:center;
    list-style:none;
    margin:0;
    padding:40px;
    gap:16px;
}

.header .logo {
    padding: 20px 0;
    display:flex;
}

.header .logo-text {
    font-size:24px;
    font-weight:bold;
    color:#F9FAF8;
    display:flex;
    align-items:center;
    padding:0 20px 0 40px;
}

.header {
    display:flex;
    gap:100px;
    justify-content:space-between;
    background-color:#1F2937;
}

.header a, .hero .subtext{
    font-size:18px;
    color:#E5E7EB;
}

.hero .title {
    font-size:48px;
    font-weight:900;
    color:#F9FAF8;
}


.header.section1 {
    background-color:#1F2937;
    display:flex;
    flex-direction:column;
}

.section1 {
    background-color:#1F2937;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}

.hero, .hero img {
    display:flex;
    flex-direction:column;
}

.call-to-action {
    background-color:#3882F6;
    color:#F9FAF8;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.call-to-action text title {
    font-weight:700;
}

.call-to-action button {
    border-color:#F9FAF8;
}

button {
    width:100px;
    padding:5px 0px;
    border-radius:6px;
    background-color:#3882F6;
    color:#F9FAF8;
    font-weight:bolder;
}



.img-card {
    display:flex;
    flex-direction:column;
    width:200px;
    height:200px;
    justify-content:center;
    align-items:center;
    padding: 10px;
    flex-shrink: 0;
    text-align:center;
    gap:12px;
}

.img-card img {
    border: 3px solid rgba(0, 0, 255, 0.719);
    border-radius: 18px;
}

.section2 {
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    gap:40px;
    margin-bottom:50px;
}

.section2.title {
    font-size:36px;
    font-weight:900;
    color:#1F2937;
    display:flex;
    justify-content:center;
    margin:50px;
}



.section3 {
    background-color: #E5E7EB;
}

.section3 .quote {
    font-size:36px;
    font-weight:lighter;
    font-style:italic;
}

.quote-source {
    font-weight:bold;
}


.footer {
    background-color:#1F2937;
}


