body {
    height:100vh;
}

.section1,.footer {
    background-color:#1F2937;
}

.header a, .hero .subtext{
    font-size:18px;
    color:#E5E7EB;
}

.hero .title {
    font-size:48px;
    font-weight:900;
    color:#F9FAF8;
}

.header .title {
    font-size:24px;
    color:#F9FAF8;
}

button, .call-to-action {
    background-color:#3882F6;
}

.section2.title {
    font-size:36px;
    font-weight:900;
    color:#1F2937;
    display:flex;
    justify-content:center;
}

.section3 {
    background-color: #E5E7EB;
}

.section3 .quote {
    font-size:36px;
    font-weight:lighter;
    font-style:italic;
}

.quote-source {
    font-weight:bold;
}

.img-card {
    display:flex;
    flex-direction:column;
    width:200px;
    height:200px;
    justify-content:center;
    align-items:center;
    border: 3px solid blue;
    border-radius: 18px;
    padding: 10px;
    flex-shrink: 0;
    text-align:center;
}
.section2 {
    display:flex;
    justify-content:space-around;
    gap:40px;
}

